.outer {
    height: 100vh;
    background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
}
.panel {
    min-height: 300px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
.heading{
align-content: center;
}

table {
    width: 100%;
}
  
.mat-form-field {
    margin-top: 10px;
    font-size: 14px;
    width: 20%;
}

#flightName {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.to{
    margin: 10px; 
    display:flex;
    flex-direction: row ;
    justify-content: space-between;

}
.from,
.to{
    margin-top: 20px; 
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%; 
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
.search button{
    padding: 12px;
    background: linear-gradient(to top, #6161e9 50%, #6e6ef6 90%) no-repeat;
    border-radius: 12px;
    color: #1d1212;
    border: 2px #ffff;
}

.navbar{
    display: flex;
    justify-content: center
}

.flight-list {
    background-image: url('/assets/images/background-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
  }
  
  /* Rest of the CSS code remains the same */
  
  
  .flight-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .flight-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .airline-logo {
    width: 80px;
    height: 40px;
    /* Add styling for the airline logo */
  }
  
  .flight-details {
    margin-left: 10px;
  }
  
  .flight-no {
    font-weight: bold;
  }
  
  .airline-name {
    font-size: 16px;
  }
  
  .flight-route {
    font-size: 14px;
  }
  
  .flight-duration {
    font-size: 12px;
    color: #777777;
  }
  
  .flight-price {
    font-weight: bold;
    text-align: right;
  }
  
  
