<div class="outer">
    <form class="add-passengers-form" [formGroup]="addpassengersform" (ngSubmit)="addpassengersSubmit()">
        <div class="container">
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-8 offset-md-3 ">
                        <div class="panel border bg-white">
                            <div class="panel-heading">
                                <h3 class="pt-3 font-weight-bold">CG-AIRLINES</h3>
                            </div>
                            <div class="panel-body p-3">
                                <div class="form-group pt-3">
                                    <div class="input-field">
                                        <span class="fa fa-user p-2"></span>
                                        <input type="text" class="form-control" id="passengerName" formControlName="passengerName" placeholder="Passenger Name">
                                    </div>
                                </div>
                                <div class="form-group pt-3">
                                    <div class="input-field">
                                        <span class="fa fa-user p-2"></span>
                                        <input type="text" class="form-control" id="contact" formControlName="contact" placeholder="Mobile Number">
                                    </div>
                                </div>

                                <div class="gender">
                                    <label for="gender">Gender:</label>
                                    <select class="form-control" id="gender" formControlName="gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="dob">
                                    <label for="dob">Date of Birth:</label>
                                    <input type="date" class="form-control" id="dob" formControlName="dob">
                                </div>
                                <button type="submit" class="btn-btn-primary btn-block mt-4 w-100">Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </form>
</div>