<html>
    <head>
    <title>Confirm</title>
</head>
<div class="outer">
  <div class="container">
      <div class="row">
          <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
              <div class="panel border bg-white">
                  <div class="panel-heading">
                  </div>
                  <div class="panel-body p-3">
                      <form>
                          <label>Confirm this transaction ?</label><br>
                          <!-- <button type="button" class="btn btn-primary btn-block mt-4" routerLink="/login" style="width: 40%; margin-right: 20%;">Cancel</button> -->
                          <button type="button" class="btn btn-primary btn-block mt-4" onclick="location.href = '/login';"style="width: 40%;"id="myButton">Cancel</button>
                          <!-- <button type="button" class="btn btn-danger btn-block mt-4" routerLink="/price" style="width: 40%;">Confirm</button> -->
                          <button type="button" class="btn btn-danger btn-block mt-4" onclick="location.href = '/price';"  style="width: 40%;"id="myButton">Confirm</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</html>