<html lang="en"><div class="outer">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width-device-width">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
       <div class="card-container">
        <div class="boarding-pass">
            <div class="card card-top">
                <div class="source">
                    <div class="code">IXM</div>
                    <div class="city">Madurai</div>
                </div>
                <div class="flight-median">
                    <i class="fa-solid fa-plane"></i>
                </div>
                <div class="destnation">
                    <div class="code">MUM</div>
                    <div class="city">Mumbai</div>
                </div>
            </div>
            <div class="card card-bottom">
                <div class="card-row">
                    <div class="card-item">
                        <span class="label">Passenger</span>
                        <p class="context">Abhishek</p>
                    </div>
                    <div class="card-item">
                        <span class="label">Date</span>
                        <p class="context">13/04/2023</p>
                    </div>
                </div>
                <div class="card-row">
                    <div class="card-item">
                        <span class="label">From</span>
                        <p class="context">Madhurai</p>
                    </div>
                    <div class="card-item">
                        <span class="label">To</span>
                        <p class="context">Mumbai</p>
                    </div>
                    <div class="card-item">
                        <span class="label">Departure Time</span>
                        <p class="context">10:30 AM</p>
                    </div>
                    <div class="card-item">
                        <span class="label">Arrival Time</span>
                        <p class="context">2:00 PM</p>
                    </div>
                    <div class="card-item">
                        <span class="label">Seat</span>
                        <p class="context">B2</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <button type="button"  class="btn btn-danger btn-block mt-4" onclick="location.href='/page'" mat-flat-button>Cancel</button>
        </div>
      </div>  
    </body></div>
</html>   