<div class="outer">
    <!-- <form class="add-passengers-form" [formGroup]="addtransactionform" (ngSubmit)="addtransactionSubmit()"> -->
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                    <div class="panel border bg-white">
                        <div class="panel-heading">
                         <h3 class="pt-3 font-weight-bold">Payment</h3>
                        </div>
                        <div class="panel-body p-3">

                            <div class="form-group">
                                <select id="card" formControlName="card">
                                    <option value="payment-options">Payment Options</option>
                                    <option value="visa">Visa</option>
                                    <option value="mastercard">Mastercard</option>
                                </select>
                            </div>
                            <!-- <div class="form-group pt-3">
                                <div class="input-field">
                                    <input type="text" placeholder="Name on Card">
                                </div>
                            </div> -->
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <input type="text" class="form-control" id="accountNo" formControlName="accountNo" placeholder="Card Number" ngModel maxlength="12">
                                </div>
                                <button onclick="location.href = '/confirm';" id="myButton" class="btn btn-primary btn-block mt-4 w-100" >pay</button>
                    </div>
                </div>
            </div>
        </div>
   <!-- </form> -->
</div>