<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="plane">
            <div class="select">
                <h1>Please select a seat</h1>
            </div>
            <div class="buclass">
                <button type="submit" routerLink="/transaction">Book</button>
                <input >
            </div>
            <div class="exit"></div>
            <div class="buclass">
                <h3>Economy Class</h3>
            </div>
            <ol>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="1A">
                            <label for="1A">1A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1B">
                            <label for="1B">1B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1C">
                            <label for="1C">1C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1D">
                            <label for="1D">1D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1E">
                            <label for="1E">1E</label>
                        </li>.
                        <li class="seat">
                            <input type="checkbox" id="1F">
                            <label for="1F">1F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="2A">
                            <label for="2A">2A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="2B">
                            <label for="2B">2B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="2C">
                            <label for="2C">2C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="2D">
                            <label for="2D">2D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="2E">
                            <label for="2E">2E</label>
                        </li>.
                        <li class="seat">
                            <input type="checkbox" id="2F">
                            <label for="2F">2F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="3A">
                            <label for="3A">3A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="3B">
                            <label for="3B">3B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="3C">
                            <label for="3C">3C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="3D">
                            <label for="3D">3D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="3E">
                            <label for="3E">3E</label>
                        </li>.
                        <li class="seat">
                            <input type="checkbox" id="3F">
                            <label for="3F">3F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="4A">
                            <label for="4A">4A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="4B">
                            <label for="4B">4B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="4C">
                            <label for="4C">4C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="4D">
                            <label for="4D">4D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="4E">
                            <label for="4E">4E</label>
                        </li>.
                        <li class="seat">
                            <input type="checkbox" id="4F">
                            <label for="4F">4F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="5A">
                            <label for="5A">5A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="5B">
                            <label for="5B">5B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="5C">
                            <label for="5C">5C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="5D">
                            <label for="5D">5D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="5E">
                            <label for="5E">5E</label>
                        </li>.
                        <li class="seat">
                            <input type="checkbox" id="5F">
                            <label for="5F">5F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="6A">
                            <label for="6A">6A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="6B">
                            <label for="6B">6B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="6C">
                            <label for="6C">6C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="6D">
                            <label for="6D">6D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="6E">
                            <label for="6E">6E</label>
                        </li>.
                        <li class="seat">
                            <input type="checkbox" id="6F">
                            <label for="6F">6F</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="7A">
                            <label for="7A">7A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="7B">
                            <label for="7B">7B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="7C">
                            <label for="7C">7C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="7D">
                            <label for="7D">7D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="7E">
                            <label for="7E">7E</label>
                        </li>.
                        <li class="seat">
                            <input type="checkbox" id="7F">
                            <label for="7F">7F</label>
                        </li>
                    </ol>
                </li>
            </ol>
            <div class="buclass">
                <h3>Business Class</h3>
            </div>
            <ol>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="1G">
                            <label for="1G">1G</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1H">
                            <label for="1H">1H</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1I">
                            <label for="1I">1I</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1J">
                            <label for="1J">1J</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1K">
                            <label for="1K">1K</label>
                        </li>.
                        <li class="seat">
                            <input type="checkbox" id="1L">
                            <label for="1L">1L</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="2G">
                            <label for="2G">2G</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="2H">
                            <label for="2H">2H</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="2I">
                            <label for="2I">2I</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="2J">
                            <label for="2J">2J</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="2K">
                            <label for="2K">2K</label>
                        </li>.
                        <li class="seat">
                            <input type="checkbox" id="2L">
                            <label for="2L">2L</label>
                        </li>
                    </ol>
                </li>
                <li>
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="3G">
                            <label for="3G">3G</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="3H">
                            <label for="3H">3H</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="3I">
                            <label for="3I">3I</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="3J">
                            <label for="3J">3J</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="3K">
                            <label for="3K">3K</label>
                        </li>.
                        <li class="seat">
                            <input type="checkbox" id="3L">
                            <label for="3L">3L</label>
                        </li>
                    </ol>
                </li>
            </ol>
            <div class="exit"></div>
        </div>
    </body>
</html>